*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#heading {
    color: aquamarine;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    height: 80px;
    align-items: center;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}

.navItems ul{
    display: flex;
}

.navItems ul li {
    list-style-type: none;
    margin-right: 50px;
}

.navItems ul li:hover {
    color: #fc8019;
}

.navItems ul li:last-child {
    margin-right: 0;
}

.navItems ul li a,
.navItems ul li button {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.navItems ul li button {
    background-color: unset;
    border: none;
}

.navItems ul li a ._2MSid {
    fill: #fff;
    stroke-width: 2px;
    stroke: #282c3f;
}



.navItems ul li a .number {
    position: absolute;
    left: 6px;
}

.navItems ul li a p,
.navItems ul li button p {
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    padding-left: 8px;
    transition: font-weight 2s;
}

.navItems ul li a p:hover,
.navItems ul li button p:hover
 {
    font-weight: 700;  
    cursor: pointer; 
}

.res-container {
    margin: 0 188px;
}

.res-container .res-container-heading {
    padding:16px 0px;
    font-size: 24px;
    font-family: inherit;
}

.res-cards {
    padding: 0px;
    list-style: none;
    margin-block-end: 0px;
    display: grid;
    -webkit-box-align: start;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin: 0px 0px 32px 16px;
}

.res-card {
    display: inline-block;
    width: 234px;
    height: 258px;
    text-decoration: none;
}

.res-card:hover {
    transform: scale(0.95, 0.95);
    transform-origin: center center;
    transition: 0.1s ease-in;
}

.res-card-image-container,
.res-card-image-container-logo {
    width: 100%;
    height: 156px;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    object-fit: cover;
}

.res-card-image-container {
    position: relative;
}

.res-card-image-container-paracontainer {
    background: linear-gradient(#1b1e2400 0%, #1b1e24 84.21%);
    height: 81px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.res-card-image-container-para {
    position: absolute;
    bottom: 0px;
    font-weight: 700;
    font-weight: 800;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 12px;
    font-family: inherit;
}

.res-card-content {
    margin: 12px 0 0 12px;
}

.res-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: inherit;
}

.res-card-content-rating-deliverytime-container, 
.res-card-content-rating {
    display: flex;
}

.res-card-content-rating-deliverytime {
    margin-top: 2px;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
    margin-top: 2px;
    display: -webkit-box;
    overflow: hidden;
}

.res-card-content-rating p,
.res-card-content-deliverytime p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    font-family: inherit;
}

.res-card-content-rating p {
    margin-left: 1px;
}

.res-card-content-deliverytime p {
    margin-left: 3px;
}

.res-card-content-cuisines {
    margin-top: 2px;
}

.res-card-content-cuisines .res-card-content-cuisines-text {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: inherit;
}

.res-card-content-location .res-card-content-location-text {
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-family: inherit;
}

.res-filters-container {
    margin-left: 16px;
    margin-bottom: 32px;
    display: flex;
}

.res-filter {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(2, 6, 12, 0.15);
    padding: 8px 12px;
    width: auto;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    transition: background-color 0.1s ease-in, border-color 0.1s ease-in, box-shadow 0.1s ease-in, width 0.2s cubic-bezier(0.65, 0, 0.35, 1);
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    font-family: inherit;
    margin-right: 8px;
}

.res-card-image-container {
    width: 100%;
    height: 156px;
    background-color: #f0f0f0;   
}

.shimmer-heading {
    background-color: #f0f0f0;
    margin: 32px 0 32px 188px;
    width: 20%;
    height: 20px;
}

.shimmer-container .res-card-content {
    margin-left: 0;
}

.shimmer-container .res-card {
    margin-right: 20px;
    margin-right: 20px;
    height: 300px;
}

.shimmer-container .res-name {
    background-color: #f0f0f0;
    width: 100%;
    height: 20px;
    margin-top: 20px;
}

.shimmer-container .res-name-text {
    background-color: #f0f0f0;
    width: 80%;
    height: 20px;
    margin-top: 20px;
}

